<footer>
  <div class="footer-dark " style="background-color: rgb(241,91,67); padding: 3em">
    <div class="row mr-0">
      <div class="col-sm-6 col-md-3 item">
        <h3>Plan du site</h3>
        <ul>
          <li><a href="#">Les établissements</a></li>
          <li><a href="#">Les évènements</a></li>
          <li><a href="#">La carte intéractive</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <h3>A propos</h3>
        <ul>

          <li><a href="#">Notre équipe</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6 item text">
        <h3>Avignon Life</h3>
        <p>Notre site web a été concu pour vous permettre de découvrir tous les évènements possible que nos
          professionnels auront mis en ligne.
          Un site pour vous, pour vos envie, pour vivre.
        </p>
      </div>
      <div class="col item social"><a href="#">
          <fa-icon [icon]="faCoffee"></fa-icon>
        </a><a href="#">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a><a href="#">
          <fa-icon [icon]="faCoffee"></fa-icon>
        </a><a href="#">
          <fa-icon [icon]="faCoffee"></fa-icon>
        </a></div>
    </div>
    <p class="copyright">Avignon Life © 2020</p>

  </div>
</footer>
